{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Task edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('task') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.date').datepicker({ 
                dateFormat: 'dd-mm-yy',
                disableTouchKeyboard: true,
                autoclose: true,
                minDate: new Date()
            });
            $(".del").click(function(){
                if (!confirm("Are you sure you want to delete this task?")){
                  return false;
                }
            });
        });
    </script>
{% endblock %}
